<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body style="background-color: greenyellow">

<div class="about-section">
  <h1>About Us </h1>
  <p>This website provide real-time information to all the users on higher studies.The user can get information about the universities and available scholorships that help to apply for higher studies.  Along with the data of universities, our aim is to provide top quality resources and blogs which will be beneficial while applying for the universities. </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="image/VinPic.png" alt="vineeth" style="width:100%">
      <div class="container">
        <h2>Vineeth S Nayak</h2>
        <p class="title">Leader by Nature, Techie by Birth and Jolly by Birth</p>
        <p>Music Lover, Singer, Social-worker and the guy who loves Networking :) Experienced Leader with a demonstrated history of working in the education management and e-Learning industry. Enthusiastic Programmer and Passionate Public Speaker with interests in music and blogging.</p>
        <p>vineetnayak777gmail.com</p>
        <p><a href="https://www.linkedin.com/in/vineetnayak777/">
            <button class="button">Connect</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="image/kavitha1.jpg" alt="Kavitha" style="width:100%">
      <div class="container">
        <h2>Kavitha Prabhu</h2>
        <p class="title">Enthusiastic in learning new things!</p>
        <p>I am Kavita Prabhu, currently pursuing third year Bachelor of Engineering in Telecommunication Engineering in Dr. Ambedkar Institute of Technology, Bangalore. I'm a tech enthusiast. In my leisure time I love to read novels, enjoy listening to music, play badminton. I enjoy in traveling different places and explore new things.</p>
        <p>kavitaprabhu1999@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/kavita-prabhu-002196181/">
            <button class="button">Connect</button></a></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="image/surajpai.jpg" alt="surajpai" style="width:100%">
      <div class="container">
        <h2>Suraj Pai</h2>
        <p class="title">Techie by passion and art lover by interest.</p>
        <p>I am currently pursuing CSE from Canara Engineering College, Mangalore.I am an Enthusiastic learner, and leader. I am interested Software Development and making comedy videos in youtube. Other than that I love to dance and play badminton. My ambition is to learn new things in my life. </p>
        <p>surajpai50612@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/suraj-pai-k-20b1b2181/">
            <button class="button">Connect</button></a></p>
      </div>
    </div>
  </div>
</div>
    <div class="row">
  <div class="column">
    <div class="card">
      <img src="image/surajnayak.jpg" alt="suraj" style="width:100%">
      <div class="container">
        <h2>Suraj Nayak</h2>
        <p class="title">I am passionate about my work</p>
        <p>I am Suraj Nayak, studying computer science engineering in N.M.A.M.Institute of Technology, Nitte. I am passionate about work as I love what I do. I am an enthusiastic student who interested in learning new skills. I am insterested in learning programming languages. I am also learning photoshop editing. I am interested to learn about Indian history, Indian philosophy, and Science. I am the person who enjoys meeting new friends and learning about their lives. My hobbies are reading books, playing games.</p>
        <p>surajnayakmuniyal@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/suraj-nayak-797787191/">
    <button class="button">Connect</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="image/sridhar.jpg" alt="sridhar" style="width:100%">
      <div class="container">
        <h2>Sridhar J P</h2>
        <p class="title">"What can be better than this..?" is always Mandatory after every Success.</p>
        <p>I am an Enthusiastic Student and tries always to attain satisfaction with my work. I am curious to gain knowledgeable in the field of Music, Indian philosophy and Science.I am learning Hindustani Classical Music from past 14 years under the guidance of my Guru Vid. Smt. Vasudha Sharma at the Institute Vedanada Pratishtana ®, Sadaguru Shastriya Sangeet Vidyalaya, Sagar. With my Gurubandhus, I have started a Musical Band named “NomThom”.</p>
        <p>shridhar.jp@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/shridhar-jansale-031a87167/">
            <button class="button">Connect</button></a></p>
      </div>
    </div>
        </div>
</div>
<script>
    myfunction()
    {
        window.location.href="https://www.linkedin.com/in/suraj-nayak-797787191/";
    }
    </script>
</body>
</html>
